<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.set.view">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--动画主页-->
        <activity android:name="com.set.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--各类动画Activity-->

        <activity android:name=".anim.AnimRouteActivity" />
        <activity android:name=".anim.sample.TweenAnimActivity" />
        <activity android:name=".anim.sample.PropertyAnimActivity" />
        <activity android:name=".anim.sample.FrameAnimActivity" />
        <activity android:name=".anim.sample.AnimInterpolatorActivity" />
        <activity android:name=".anim.dialog3d.Anim3dActivity" />
        <activity android:name=".anim.explosion.ExplosionActivity" />
        <activity android:name=".anim.fastflash.FasterImageAnimActivity" />
        <activity android:name=".anim.loading.LoadingActivity" />
        <activity android:name=".anim.opendoor.OpenDoorActivity" />
        <activity android:name=".anim.scroller.ScrollerActivity" />

        <!--Image -->
        <activity android:name=".image.ImageRouteActivity" />
        <activity android:name=".image.ImageScaleActivity" />
        <activity android:name=".image.NinePngActivity" />

        <!--View 属性-->
        <activity android:name=".toolview.ViewTranslationActivity" />

        <activity
            android:name=".scroll.RecyclerScrollActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".surface.SurfaceRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".surface.SurfaceHolderActivity" />
        <activity android:name=".surface.TextureViewActivity" />
        <activity android:name=".surface.SurfaceViewActivity" />
        <activity android:name=".surface.video.TextureVideoActivity" />
    </application>

    <!--适配全面屏幕-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />
</manifest>