<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pa.chen.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnimTweenActivity" />
        <activity android:name=".activity.AnimPropertyActivity" />
        <activity android:name=".activity.ScrollerActivity" />
        <activity android:name=".explosion.ExplosionActivity" />

        <activity android:name=".loading.LoadingActivity" />

        <activity android:name=".container.FirstActivity" />
        <activity android:name=".container.MainActivity" />


    </application>

    <!--适配全面屏幕-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />
</manifest>